.containerAll {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: 800px; 
  grid-template-columns: 30% 40% 30%; 
  width: 1440px; 
}

/* Estilo de la columna 1 */
.coluna1 {
  background-color: #151515;
}

.coluna2 h1 {
  display: block;
  justify-content: center; 
  font-family: "Big Shoulders", sans-serif;
  position: relative;
  width: fit-content;
  top: 7rem;
  left: -40%; 
  color: #ffffff;
  line-height: 5rem;
  font-size: 590%;
}

.coluna2 {
  background-image: url("../img/RectangleAbuela.jpg");
  background-size: cover;
  background-position: center;
}

.coluna3 {
  background-color: #ffffff;
}

.coluna3 p {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  margin: 0;
  position: relative;
  top: 10.5rem;
  left: -60px;
  color: #444444;
  line-height: 2rem;
  font-size: 1.4rem;
  width: 21.87rem;
  height: 10rem;
}

.btnLocation {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-decoration: none;
  font-family: "Big Shoulders", sans-serif;
  font-size: 22px;
  font-weight: bolder;
  color: #ffffff;
  width: 260px;
  height: 72px;
  background-color: black;
  margin: 0;
  top: 250px;
  left: -60px;
  letter-spacing: 3.5px;
}

.path {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -25px;
  background-color: #d5966c;
  height: 100%;
  width: 56px;
}

.modern,
.art-gallery {
  display: block;
}

@media (max-width: 1024px) {
  .containerAll {
    grid-template-columns: 437px 331px; 
    grid-template-rows: 700px; 
    width: 768px; 
  }

  .coluna1 {
    display: none;
  }

  .coluna2 h1 {
    display: flex;
    flex-direction: column;
    color: #151515;
    position: relative;
    font-size: 70px; 
    font-weight: bolder;
    top: 100px; 
    left: 405px; 
    height: auto;
    
  }

  .coluna3 p {
    font-size: 18px; 
    top: 20rem; 
    left: -30px; 
    width: 339px; 
    line-height: 28px;
    height: auto;
  }

  .btnLocation {
    width: 220px; 
    height: 60px;
    font-size: 18px; 
    top: 380px; 
    left: -30px;
  }
}

/* Móvil: Adaptación para pantallas más pequeñas */
@media (max-width: 768px) {
  .containerAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    width: 375px;
  }

  .coluna1 {
    display: none;
  }

  .coluna2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 240px;
  }

  .coluna2 h1 {
    width: 343px;
    margin-top: 100px;
  }

  .coluna2 span {
    font-size: 60px; 
    line-height: 50px;
    color: #151515;
    font-weight: bolder;
    width: 343px;
  }

  .coluna3{
    margin-top: 200px;
    margin-left: 30px;
  }
  
  .coluna3 p {
    font-size: 18px; /* Reducir aún más el tamaño de la fuente */
    position:static;
    color: #444444;
    line-height: 28px;
    height: 112px;
    width: 343px;
    
  }

  .btnLocation {
    width: 180px; /* Reducir tamaño del botón */
    height: 50px;
    font-size: 16px; /* Reducir tamaño de fuente */
    top: 160px; /* Ajustar la posición */
    left: 0; /* Centrar el botón */
    letter-spacing: 1.5px; /* Reducir el espaciado */
  }

  .path {
    width: 50px; /* Reducir ancho de la ruta */
  }
}
