.container-loc-centro {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  height: 545px;
}

.location-leftside,
.location-rightside {
  width: 50%;
  margin-top: 69px;
}

.location-leftside h1 {
  display: flex;
  flex-direction: column;
  font-family: "Big Shoulders", sans-serif;
  font-size: 70px;
  margin-left: 164px;
}

.kingstreet {
  font-family: "Big Shoulders", sans-serif;
  font-size: 36px;
  color: #d5966c;
}

.address {
  width: 445px;
  height: 96px;
  font-family: Outfit, sans-serif;
  font-size: 22px;
}

.address p {
  margin: 0;
  font-family: Outfit, sans-serif;
  font-size: 22px;
  font-weight: 200;
}

.description {
  width: 540px;
  height: 128px;
  font-family: Outfit, sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 32px;
}


@media (max-width: 1024px) {
  .container-loc-centro {
    height: 436px;
  }

  .location-leftside {
    width: 40%;
    margin: 0;
  }

  .location-rightside {
    width: 60%;
    margin: 0;
  }

  .location-leftside h1 {
    font-size: 55px;
    margin-top: 87px;
    margin-left: 39px;
  }

  .kingstreet {
    font-size: 32px;
    margin-top: 87px;
  }

  .address p {
    font-size: 18px;
    line-height: 28px;
  }

  .description {
    width: 398px;
    height: 112px;
    font-weight: 200;
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {

  .container-loc-centro {
    display: block;
    flex-direction: column;
    height: 493px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .location-leftside {
    width: 343px;
    margin-left: 18px;
  }

  .location-rightside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 343px;
    margin-left: 18px;
    margin-top: 40px;
  }

  .location-rightside h3 {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .location-leftside h1 {
    flex-direction: row;
    gap: 10px;
    font-size: 50px;
    margin: 0;
    margin-top: 50px;
    padding: 0;
  }

  .kingstreet {
    font-size: 32px;
    margin-top: 0px;
  }

  .address{
    width: 100%;
    height: 84px;
    font-size: 18px;
    line-height: 28px;
  }

  .description {
    width: 100%;
    height: 140px;
    font-weight: 200;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    padding: 0;
  }
}
